@model  empty_demo.Models.GuestResponse
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterMe</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm()) {
            <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
            <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Your phone: @Html.TextBoxFor(x => x.Phone)</p>
            <p>
                Are you game ?
                @Html.DropDownListFor(x => x.WillAttend,
                new[] {
                    new SelectListItem(){Text= "Yeah!", Value=bool.TrueString},
                    new SelectListItem(){Text="No thanks!", Value=bool.FalseString}}, "Choose an option")
            </p>
            <input  type="submit" value="Register me"/>
        }
    </div>
</body>

</html>
